@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Figtree", sans-serif;
}

#innerWrapp {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #fff;
  font-family: "Figtree", sans-serif;
}

.lineContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 0px;
}
.lineContainer .infoTitle {
  padding: 6px 20px;
  color: #696d7f;
  border: 1px solid #323232;
  border-radius: 16px;
}
.lineContainer .line {
  background: #323232;
  flex: 1;
  height: 1px;
}

.topNav {
  display: none;
  position: relative;
  background: #0c0c0d;
  width: 0%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.topNav .trigger {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.topNav .trigger span {
  color: #fff;
}

#Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(146, 159, 173, 0.3), rgba(146, 159, 173, 0.1), rgba(255, 255, 255, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out;
}
#Header .headerContents {
  width: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
#Header .headerContents svg {
  animation: rotate infinite 12s linear;
}
#Header .gnb {
  width: auto;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-right: 100px;
}
#Header .gnb div {
  font-size: 0.9rem;
  cursor: pointer;
}

#Header.clickTrigger {
  right: 0;
}
#Header.clickTrigger .headerContents {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Header.clickTrigger .logo {
  color: #fff;
}
#Header.clickTrigger .gnb {
  width: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-right: 100px;
}
#Header.clickTrigger .gnb div {
  font-size: 12px;
  cursor: pointer;
}

#Intro {
  animation: blur 2s ease;
  padding: 80px 0 40px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#Intro .IntroSubText {
  flex: 2;
  font-size: 0.9rem;
  margin-top: 30px;
  display: flex;
  gap: 180px;
}
#Intro .IntroMianTxt {
  flex: 3;
  line-height: 8rem;
}
#Intro .IntroMianTxt div {
  font-size: 8rem;
  font-weight: 400;
}

#Video {
  width: 100%;
  height: auto;
}
#Video video {
  width: 100%;
  height: auto;
  background: center/cover no-repeat;
}

#Infomation {
  margin-bottom: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Infomation .infoContentsWrapp {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  cursor: pointer;
}
#Infomation .infoContentsWrapp .infoContents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}
#Infomation .infoContentsWrapp .infoContents .proIgm {
  width: 100%;
  height: auto;
}
#Infomation .infoContentsWrapp .infoContents .proIgm img {
  border-radius: 2px;
  border: 0.3px solid rgb(76, 79, 96);
  width: 100%;
  height: 460px;
  background: center/no-repeat;
}
#Infomation .infoContentsWrapp .infoContents .proDesc {
  margin-top: 12px;
}
#Infomation .infoContentsWrapp .infoContents .proDesc .proName {
  font-size: 1.8rem;
}
#Infomation .infoContentsWrapp .infoContents .proDesc .proName::before {
  content: "";
  display: inline-block;
  transition: all 0.5s;
}
#Infomation .infoContentsWrapp .infoContents .proDesc .proName:hover::before {
  border-bottom: 1px solid #696d7f;
}
#Infomation .infoContentsWrapp .infoContents .proDesc .proDate {
  font-size: 1.1rem;
  padding: 10px 0;
}
#Infomation .infoContentsWrapp .infoContents:hover {
  transform: translateY(-10px);
}

#AllprofileComent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#AllprofileComent .profileComent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 400;
}

#Profile {
  width: 100%;
  height: auto;
}
#Profile .profileContents {
  display: flex;
}
#Profile .profileContents .profileDesc {
  flex: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
#Profile .profileContents .profileDesc .myinfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#Profile .profileContents .profileDesc .myinfo .descWrapp {
  display: flex;
}
#Profile .profileContents .profileDesc .myinfo .descWrapp .myinfoDesc {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#Profile .profileContents .profileDesc .tools {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 30px;
}
#Profile .profileContents .profileDesc .tools ul {
  display: flex;
}
#Profile .profileContents .profileDesc .tools ul li {
  width: auto;
  padding-right: 20px;
}
#Profile .profileContents .profileDesc .tools .toolltitle {
  width: 360px;
  font-weight: bold;
}
#Profile .profileContents .profileDesc .myGray {
  color: #7d7d7d;
}
#Profile .profileContents .profileImg {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
#Profile .profileContents .profileImg img {
  width: 100%;
  height: 500px;
  background: center/cover no-repeat;
}

#Footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
#Footer .svgBox {
  padding: 160px 0;
  display: flex;
  align-items: center;
  gap: 220px;
}
#Footer .svgBox svg {
  animation: rotate infinite 16s linear;
}
#Footer .App {
  display: flex;
  gap: 60px;
}
#Footer .App img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Footer .App span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #191919;
}
#Footer .footerdesc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#Footer .footerdesc .footerkeyword {
  display: flex;
  align-items: flex-end;
  height: auto;
  width: auto;
  gap: 20px;
  font-size: 0.8rem;
}
#Footer .footerdesc .footerkeywordad {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blur {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}
@media screen and (max-width: 768px) {
  .topNav {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
  }
  .topNav .trigger {
    margin-right: 20px;
    display: flex;
    cursor: pointer;
  }
  .topNav .trigger span {
    color: #fff;
  }
  #Header {
    position: fixed;
    top: 0;
    right: -180px; /* 처음에 화면 밖에 위치 */
    width: 180px;
    height: 100%;
    background-color: #0d0d0d; /* 어두운 배경색 */
    display: flex;
    align-items: center;
    transition: right 0.4s ease-in-out; /* right 속성을 조정하여 나타나도록 */
  }
  #Header.clickTrigger {
    right: 0;
    top: 0;
  }
  #Header.clickTrigger .headerContents {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #Header.clickTrigger .logo {
    color: #fff;
  }
  #Header.clickTrigger .gnb {
    width: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-right: 100px;
  }
  #Header.clickTrigger .gnb div {
    font-size: 12px;
    cursor: pointer;
  }
}