@use "reset";

body {
  width: 100%;
  height: 100%;
  background: #252525;
  color: #fff;
  font-family: "Figtree", sans-serif;
}

.lineContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 0px;
  .infoTitle {
    padding: 6px 20px;
    color: map-get(reset.$color, keyColor);
    border: 1px solid #323232;
    border-radius: 16px;
  }
  .line {
    background: #323232;
    flex: 1;
    height: 1px;
  }
}
.topNav {
  display: none;
  position: relative;
  background: map-get(reset.$color, darkColor);
  width: 0%;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  .trigger {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
      color: #fff;
    }
  }
}
#Header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(146, 159, 173, 0.3),
    rgba(146, 159, 173, 0.1),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out;
  .headerContents {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    svg {
      animation: rotate infinite 12s linear;
    }
  }
  .gnb {
    width: auto;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 100px;
    div {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
#Header.clickTrigger {
  right: 0;
  .headerContents {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    color: #fff;
  }

  .gnb {
    width: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-right: 100px;
  }

  .gnb div {
    font-size: 12px;
    cursor: pointer;
  }
}
#Intro {
  animation: blur 2s ease;
  padding: 80px 0 40px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .IntroSubText {
    flex: 2;
    font-size: 0.9rem;
    margin-top: 30px;
    display: flex;
    gap: 180px;
  }
  .IntroMianTxt {
    flex: 3;
    line-height: 8rem;
    div {
      font-size: 8rem;
      font-weight: 400;
    }
  }
}
#Video {
  width: 100%;
  height: auto;
  video {
    width: 100%;
    height: auto;
    background: center/cover no-repeat;
  }
}
#Infomation {
  margin-bottom: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .infoContentsWrapp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    cursor: pointer;
    .infoContents {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.5s;
      .proIgm {
        width: 100%;
        height: auto;
        img {
          border-radius: 2px;
          border: 0.3px solid rgb(76, 79, 96);
          width: 100%;
          height: 460px;
          background: center/ no-repeat;
        }
      }
      .proDesc {
        margin-top: 12px;
        .proName {
          font-size: 1.8rem;
          &::before {
            content: "";
            display: inline-block;
            transition: all 0.5s;
          }
          &:hover::before {
            border-bottom: 1px solid map-get(reset.$color, keyColor);
          }
        }
        .proDate {
          font-size: 1.1rem;
          padding: 10px 0;
        }
      }
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}
#AllprofileComent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .profileComent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 400;
  }
}
#Profile {
  width: 100%;
  height: auto;
  .profileContents {
    display: flex;
    .profileDesc {
      flex: 2;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 30px;
      .myinfo {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .descWrapp {
          display: flex;
          .myinfoDesc {
            width: 360px;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
      .tools {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px 30px;
        ul {
          display: flex;
          li {
            width: auto;
            padding-right: 20px;
          }
        }
        .toolltitle {
          width: 360px;
          font-weight: bold;
        }
      }
      .myGray {
        color: #7d7d7d;
      }
    }
    .profileImg {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      img {
        width: 100%;
        height: 500px;
        background: center/cover no-repeat;
      }
    }
  }
}
#Footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  .svgBox {
    padding: 160px 0;
    display: flex;
    align-items: center;
    gap: 220px;
    svg {
      animation: rotate infinite 16s linear;
    }
  }
  .App {
    display: flex;
    gap: 60px;

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
    span {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      color: #191919;
    }
  }
  .footerdesc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .footerkeyword {
      display: flex;
      align-items: flex-end;
      height: auto;
      width: auto;
      gap: 20px;
      font-size: 0.8rem;
    }
    .footerkeywordad {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blur {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}

@media screen and (max-width: 768px) {
  .topNav {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    .trigger {
      margin-right: 20px;
      display: flex;
      cursor: pointer;
      span {
        color: #fff;
      }
    }
  }

  #Header {
    position: fixed;
    top: 0;
    right: -180px; /* 처음에 화면 밖에 위치 */
    width: 180px;
    height: 100%;
    background-color: #0d0d0d; /* 어두운 배경색 */
    display: flex;
    align-items: center;
    transition: right 0.4s ease-in-out; /* right 속성을 조정하여 나타나도록 */
  }

  #Header.clickTrigger {
    right: 0;
    top: 0;
    .headerContents {
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .logo {
      color: #fff;
    }

    .gnb {
      width: auto;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 80px;
      margin-right: 100px;
    }

    .gnb div {
      font-size: 12px;
      cursor: pointer;
    }
  }
}
