@import url(./threadsreset.css);
.pageTitle {
  font-size: 1.2rem;
  font-weight: normal;
  padding-top: 20px;
}

#backBtn {
  position: fixed;
  top: 30px;
  left: 30px;
  background: #181817;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}
#backBtn span {
  scale: 1.1;
  color: #ccc;
  transform: translateX(0px);
  transition: all 0.3s;
}
#backBtn:hover {
  background: #f6f6f6;
}
#backBtn:hover span {
  color: #000000;
  transform: translateX(-8px);
}

#innerWrapp {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: #fff;
}

#intro .introImg {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#bg {
  width: 100%;
  padding: 40px 20px;
  overflow: hidden;
}
#bg .bgcontentsWrapp {
  margin-top: 80px;
  padding: 40px 20px 80px;
  display: flex;
  align-items: start;
  gap: 120px;
  background: #000;
  border-radius: 16px;
}
#bg .bgdescWrapp {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#bg .bgdescWrapp .bgTitle {
  font-size: 1.1rem;
  color: #fff;
}
#bg .bgdescWrapp .bgdescinfo {
  font-size: 0.8rem;
  color: #c3c3c3;
}
#bg .bgprocessWrapp {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#bg .bgprocessWrapp .bgTitle {
  font-size: 1.1rem;
  color: #fff;
}
#bg .bgprocessWrapp .infos {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.8rem;
  color: #c3c3c3;
}
#bg .toolWrapp {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#bg .toolWrapp .bgTitle {
  font-size: 1.1rem;
  color: #fff;
}
#bg .toolWrapp .tools {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.8rem;
  color: #c3c3c3;
}

#research {
  width: 100%;
  padding: 40px 20px;
  overflow: hidden;
}
#research .textWrapp {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 20px;
}
#research .textWrapp .maintxt {
  font-weight: bold;
  font-size: 1.1rem;
}
#research .textWrapp .subtxt {
  font-size: 0.8rem;
  font-weight: normal;
  color: #666;
}
#research .researchContentsWrapp {
  display: flex;
  justify-content: space-around;
}
#research .researchContentsWrapp .imgBox {
  width: auto;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}

#interview {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}
#interview .userBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #000;
  padding: 15px;
  border-radius: 16px;
  gap: 30px;
}
#interview .userBox .useinterview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#interview .userBox .useinterview .maintxt {
  font-size: 1.6rem;
  color: #fff;
}
#interview .userBox .useinterview .subtxt {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
}
#interview .userBox .userconditionWrapp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#interview .userBox .userconditionWrapp .interviewTitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}
#interview .userBox .userconditionWrapp .interviewItems {
  display: flex;
  gap: 10px;
}
#interview .userBox .userconditionWrapp .interviewItems .interviewItem {
  font-size: 0.7rem;
  color: #000000;
  padding: 4px 12px;
  background: #ccc;
  border-radius: 16px;
  transition: all 0.5s;
  cursor: pointer;
}
#interview .userBox .userconditionWrapp .interviewItems .interviewItem:hover {
  background: #212121;
  color: #fff;
}
#interview .userBox .userImgWrapp {
  display: flex;
  gap: 10px;
  overflow: hidden;
}
#interview .userBox .userImgWrapp .userImg {
  position: relative;
}
#interview .userBox .userImgWrapp .userImg .userInfo {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.5s;
}
#interview .userBox .userImgWrapp .userImg .userInfo div {
  opacity: 1;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#interview .userBox .userImgWrapp .userImg:hover .userInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #171717;
  border-radius: 8px;
  transform: translateY(0);
}
#interview .userBox .userImgWrapp .userImg:hover .userInfo div {
  opacity: 1;
  color: #fff;
}
#interview .problemBox {
  width: 467px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 16px;
  gap: 30px;
}
#interview .problemBox .problemMain {
  font-size: 1.6rem;
}
#interview .problemBox .problemWrapp {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 40px;
}
#interview .problemBox .problems {
  display: flex;
  gap: 20px;
}
#interview .problemBox .problemLogo {
  padding-left: 340px;
  display: flex;
}
#interview .problemBox .problemLogo img {
  display: flex;
  justify-content: end;
  align-items: center;
}

#asistobe {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}
#asistobe .problemBox {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 16px;
}
#asistobe .problemBox .problemMain {
  font-size: 1.6rem;
  color: #666;
}
#asistobe .problemBox .problemWrapp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}
#asistobe .problemBox .problems {
  display: flex;
  gap: 12px;
}
#asistobe .problemBox .problems .problem {
  font-size: 0.8rem;
  color: #666;
}
#asistobe .solutionBOx {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  padding: 30px 20px;
  border-radius: 16px;
  gap: 30px;
}
#asistobe .solutionBOx .solTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#asistobe .solutionBOx .solTitle .solMain {
  font-size: 3.2rem;
  font-weight: 500;
}
#asistobe .solutionBOx .solTitle .tobe {
  font-size: 1.2rem;
  font-weight: 600;
  padding-right: 20px;
  color: #666;
}
#asistobe .solutionBOx .solWrapp {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  padding: 30px 0;
}
#asistobe .solutionBOx .solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#asistobe .solutionBOx .solutions .solution {
  font-size: 1rem;
}

#ia {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

#styleguide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}
#styleguide .topwrapp {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#styleguide .logowrapp {
  width: 50%;
  padding: 20px;
  background: #fafafa;
  border-radius: 16px;
}
#styleguide .logowrapp .logoArea {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#styleguide .colorWrapp {
  width: 50%;
  background: #fafafa;
  border-radius: 16px;
}
#styleguide .colorWrapp .colorTitle {
  padding: 20px 20px 6px;
}
#styleguide .colorWrapp .colors .color {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#styleguide .colorWrapp .colors .color .code {
  color: #9f9f9f;
  font-size: 0.7rem;
}
#styleguide .colorWrapp .colors .color .rgb {
  color: #9f9f9f;
  font-size: 0.7rem;
}
#styleguide .colorWrapp .colors .color:nth-child(1) {
  background: #fafafa;
}
#styleguide .colorWrapp .colors .color:nth-child(2) {
  background: #f3f5f7;
}
#styleguide .colorWrapp .colors .color:nth-child(3) {
  background: #e9e9e9;
}
#styleguide .colorWrapp .colors .color:nth-child(4) {
  background: #d2d3d3;
}
#styleguide .colorWrapp .colors .color:nth-child(5) {
  background: #bababa;
}
#styleguide .colorWrapp .colors .color:nth-child(6) {
  background: #4d4d4d;
}
#styleguide .colorWrapp .colors .color:nth-child(7) {
  background: #181818;
}
#styleguide .colorWrapp .colors .color:nth-child(8) {
  background: #000000;
  border-radius: 0 0 16px 16px;
}
#styleguide .typoWrapp {
  width: 100%;
  background: #fafafa;
  border-radius: 16px;
}
#styleguide .typoWrapp .typoTitle {
  padding: 20px 20px 0;
}
#styleguide .typoWrapp .extxtWrapp {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
#styleguide .typoWrapp .extxtWrapp .extxt {
  font-size: 0.7rem;
  color: #b5b5b5;
  letter-spacing: 3px;
}
#styleguide .typoWrapp .extxtWrapp .extxtko {
  font-size: 0.7rem;
  color: #b5b5b5;
  letter-spacing: 0.6px;
}
#styleguide .typoWrapp .fontWrapp {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
#styleguide .typoWrapp .fontWrapp .leftfont {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#styleguide .typoWrapp .fontWrapp .leftfont .bigfont {
  font-size: 5rem;
  font-weight: 500;
}
#styleguide .typoWrapp .fontWrapp .leftfont .subfont {
  font-size: 3rem;
  color: #ccc;
  font-weight: 500;
}
#styleguide .typoWrapp .fontWrapp .rightfont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 50px;
}
#styleguide .typoWrapp .fontWrapp .rightfont div {
  font-size: 2.4rem;
}
#styleguide .typoWrapp .fontWrapp .rightfont div:nth-child(1) {
  font-weight: bold;
}
#styleguide .typoWrapp .fontWrapp .rightfont div:nth-child(2) {
  font-weight: 500;
}
#styleguide .typoWrapp .fontWrapp .rightfont div:nth-child(3) {
  font-weight: 400;
}
#styleguide .typoWrapp .fontWrapp .rightfont div:nth-child(4) {
  font-weight: 300;
  color: #bbbbbb;
}

#bill {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#bill img {
  width: 100%;
}

#wf {
  padding: 40px 0;
  width: 100%;
}
#wf img {
  width: 100%;
}

#ui {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}
#ui .textWrapp {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#ui .textWrapp .maintxt {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}
#ui .textWrapp .subtxt {
  font-size: 0.8rem;
  font-weight: 200;
  color: #8f8f8f;
}
#ui .onbording {
  padding: 100px 0;
}
#ui .onbording .onbordingImg {
  padding: 40px 0;
}
#ui .onbording img {
  width: 100%;
}
#ui .newfunction .functionWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
#ui .mainImg {
  padding: 100px 0;
  width: 100%;
  justify-content: center;
  display: flex;
}
#ui .Modifying {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#ui .Modifying .modiwrapp {
  display: flex;
}
#ui .Modifying .modiwrapp .modidesc {
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#ui .activity {
  padding-top: 150px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#ui .myPage {
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#ui .pin {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}
#ui .pin .pinContents {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#ui .pin .pinContents div {
  color: #4d4d4d;
}
#ui .pin .pinContents img {
  width: 60%;
  height: 60%;
}
#ui .dark {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#ui .dark .darkContents {
  display: flex;
}
#ui .dark .darkDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#ui .dark .darkDesc .darkImg {
  padding-left: 30px;
}

#footer {
  width: 100%;
  padding: 160px 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#footer .footerInfo {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
}