* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-weight: 200;
  background: rgb(0, 0, 0);
}
$color: (
  borderColor: #181817,
  maincolor: #c9fc5a,
);

.sectionTitle {
  font-weight: normal;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.koTxt {
  color: #ccc;
}
.elTxt {
  color: #838383;
  padding-top: 20px;
}
#innerWrapp {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #050505;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro {
  width: 100%;
  height: 100vh;
  .introSymbol {
    width: 50px;
    height: 50px;
  }
}
#bg {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .bgtxt {
    padding: 140px 0;
    text-align: center;
    line-height: 1.8rem;
    color: #ccc;
    opacity: 1;
    transition: all 0.3s;
    transform: translateY(20px);
  }
}
#problem {
  width: 100%;
  display: flex;
  flex-direction: column;
  .problemBoxAll {
    display: flex;
    height: 460px;
    justify-content: space-between;
    align-items: start;
    padding-top: 50px;
    .problemBox {
      cursor: pointer;
      overflow: hidden;
      width: 320px;
      height: 180px;
      background: #181817;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.5s;
      opacity: 0.5;
      &:hover {
        color: #ccc;
        height: 380px;
        opacity: 1;
        ul {
          width: 100%;
          height: 300px;
          padding: 40px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          li {
            display: flex;
            align-items: center;
            gap: 20px;

            align-items: center;
            img {
              width: 10px;
              height: 10px;
              object-fit: cover;
            }
          }
        }
        .problemBigTextdesc {
          display: flex;
          align-items: end;
          justify-content: end;
          .sub {
            font-size: 0.8rem;
            padding: 10px;
            color: #ccc;
          }
          .main {
            font-size: 4rem;
            font-weight: 600;
            color: #fafafa;
          }
          .mainlast {
            font-size: 2rem;
            padding: 10px 0;
            font-weight: 600;
            color: #ccc;
          }
        }
      }
      ul {
        width: 100%;
        height: 300px;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          display: none;
          align-items: center;
          gap: 20px;

          align-items: center;
          img {
            width: 10px;
            height: 10px;
            object-fit: cover;
          }
        }
      }
      .problemBigTextdesc {
        display: flex;
        align-items: end;
        justify-content: end;
        padding-bottom: 20px;
        .sub {
          font-size: 0.8rem;
          padding: 10px;
          color: #303030;
        }
        .main {
          font-size: 2.6rem;
          font-weight: 600;
          color: #303030;
        }
        .mainlast {
          font-size: 1.6rem;
          padding: 10px 0;
          font-weight: 600;
          color: #303030;
        }
      }
    }
  }
}
#swot {
  width: 100%;
  display: flex;
  flex-direction: column;
  .swotsubTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .swotBoxAll {
    cursor: pointer;
    display: grid;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 50px;
    .swotTable {
      height: 230px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 20px;
      border-radius: 20px;
      gap: 12px;
      transition: all 0.5s;
      opacity: 0.5;
      &:hover {
        height: 600px;
        opacity: 1;
      }
      .tableBox {
        width: 320px;
        height: 180px;
        font-size: 1.2rem;
        font-weight: normal;
        background: map-get($color, borderColor);
        color: #838383;
        padding: 14px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .swotImg {
          width: auto;
          height: auto;
          flex-wrap: nowrap;
        }
        .tableBoxTetWrapp {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          padding: 16px 0 0 0;
          .tableBoxTet {
            font-size: 0.8rem;
            font-weight: 200;
            text-align: center;
            color: #ccc;
          }
        }
      }
    }
  }
}
#userinterview {
  width: 100%;
  padding-top: 60px;
  .interviewBoxWarrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .interviewBox {
      width: 100%;
      height: auto;
      background: #0f0f0f;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      transition: all 0.5s;
      .userinfoWrapp {
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        .userInfo {
          color: #838383;
        }
        .userSubInfo {
          color: #b9b9b9;
          font-weight: normal;
        }
      }
    }
  }
  .userMainTxt {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    font-weight: bold;
    font-size: 2.4rem;
  }
  .AllenswerBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .TopenswerBoxWrapp {
      width: 100%;
      display: flex;
      gap: 10px;
      animation: scroll 15s linear infinite;
      .enswerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 100px;
        padding: 20px;
        background: map-get($color, borderColor);
        border-radius: 20px;
        text-align: center;
        font-size: 0.9rem;
      }
      .enswerBoxY {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 100px;
        padding: 20px;
        background: #3f4136;
        border-radius: 20px;
        text-align: center;
        font-size: 0.9rem;
      }
    }
    .BottomenswerBoxWrapp {
      width: 100%;
      display: flex;
      gap: 10px;
      .enswerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 100px;
        padding: 20px;
        background: map-get($color, borderColor);
        border-radius: 20px;
        text-align: center;
        font-size: 0.9rem;
      }
      .enswerBoxY {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 100px;
        padding: 20px;
        background: #3f4136;
        border-radius: 20px;
        text-align: center;
        font-size: 0.9rem;
      }
    }
  }
}
#tunmenail {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .SubText {
    display: flex;
    width: 100%;
    color: #838383;
    text-align: center;
    padding: 0 80px;
    font-weight: 400;
  }
  .tunmenailImg {
    width: 100%;
    height: auto;
    padding: 60px 0;
    img {
      width: 100%;
    }
  }
}
#ia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  .iaImg {
    width: 100%;
    height: auto;
    padding: 60px 0;
    img {
      width: 100%;
    }
  }
}
#style {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  .SymbolWrapp {
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    .logoDesc {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      .logoImg {
        width: 100%;
      }
    }
    .logoTxtDesc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .logoTxt {
        width: 100%;
        font-weight: 200;
        font-size: 0.8rem;
        color: #ccc;
      }
    }
  }
  .colorWrapp {
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    .colorY {
      cursor: pointer;
      width: 10%;
      height: 80px;
      padding: 20px;
      overflow: hidden;
      border-radius: 50px;
      background: #c9fc5a;
      color: #c9fc5a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        width: 40%;
        color: #000;
      }
    }
    .colorN {
      cursor: pointer;
      width: 10%;
      background: #11122a;
      height: 80px;
      padding: 20px;
      overflow: hidden;
      border-radius: 50px;
      color: #11122a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
      transition: all 0.3s;
      &:hover {
        width: 40%;
        color: #fafafa;
      }
    }
  }
  .AllFontWrapp {
    padding: 0 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .fontDesc {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100px;
      transition: all 0.5s;
      .smallFont {
        display: flex;
        font-size: 0.7rem;
        padding: 30px 0;
        color: map-get($color, maincolor);
      }
      .FontLight {
        display: flex;
        font-size: 2rem;
        font-weight: 100;
      }
      .FontRegular {
        display: flex;
        font-size: 2rem;
        font-weight: 300;
      }
      .FontMedium {
        display: flex;
        font-size: 2rem;
        font-weight: 500;
      }
      .FontSemiBold {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
      }
      .FontBold {
        display: flex;
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }
}
#billboard {
  width: 100%;
  padding: 60px 0;
  img {
    width: 100%;
  }
}
#wf {
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  .wfwrapp {
    position: relative;
    .wfSlide {
      display: flex;
      gap: 20px;
      animation: wfSlide 26s linear infinite;
      img {
        transition: all 0.5s;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
}
#mobile {
  width: 100%;
  padding: 60px 0;
  .loginOnbording {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    .imgWrapp {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .mainPay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0;
    .mainImg {
      flex: 2;
      width: 340px;
      height: auto;
      object-fit: cover;
      display: flex;
      justify-content: center;
      scale: 1.5;
      z-index: 10;
      img {
        width: 100%;
      }
    }
    .lefttImg {
      flex: 1;
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rightImg {
      flex: 1;
      transition: all 0.5s;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background: center/cover;
      img {
        width: auto;
        height: auto;
      }
    }
  }
  .pay {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    .payImg {
      display: flex;
      .imgWrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(60px);
        .img {
          z-index: 2;
        }
        .info {
          transform: translateX(-50px);
        }
      }
    }
  }
  .map {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    .mapImg {
      display: flex;
      width: 100%;
      height: auto;
      .imgWrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(60px);
        .img {
          z-index: 2;
        }
        .info {
          transform: translateX(-50px);
        }
      }
    }
  }
  .charging {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .chargingImg {
      display: flex;
      width: 100%;
      height: auto;
      .imgWrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(60px);
        .img {
          z-index: 2;
        }
        .info {
          transform: translateX(-50px);
        }
      }
    }
    .chargflowWarpp {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100px);
      .flow {
        width: 517px;
        height: auto;
      }
      img {
        width: auto;
        height: auto;
        background: contain;
      }
    }
    .show {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .home {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    object-fit: cover;
    .imgWrapp {
      display: flex;
      .img {
        z-index: 2;
      }
      .info {
        transform: translateX(-50px);
      }
    }
    .homeImg {
      width: 100%;
      height: auto;
      transform: translateY(-140px);
    }
  }
  .lefttImg,
  .rightImg,
  .info,
  .flow,
  .homeImg {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s;
  }
  .show {
    opacity: 1;
    transform: translateY(0);
  }
}
#home {
  transform: translateY(-200px);
  .homeImg {
    width: 100%;
    object-fit: cover;
  }
}

@keyframes wfSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
