@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 200;
  background: rgb(0, 0, 0);
}

.sectionTitle {
  font-weight: normal;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.koTxt {
  color: #ccc;
}

.elTxt {
  color: #838383;
  padding-top: 20px;
}

#innerWrapp {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #050505;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro {
  width: 100%;
  height: 100vh;
}
#intro .introSymbol {
  width: 50px;
  height: 50px;
}

#bg {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#bg img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#bg .bgtxt {
  padding: 140px 0;
  text-align: center;
  line-height: 1.8rem;
  color: #ccc;
  opacity: 1;
  transition: all 0.3s;
  transform: translateY(20px);
}

#problem {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#problem .problemBoxAll {
  display: flex;
  height: 460px;
  justify-content: space-between;
  align-items: start;
  padding-top: 50px;
}
#problem .problemBoxAll .problemBox {
  cursor: pointer;
  overflow: hidden;
  width: 320px;
  height: 180px;
  background: #181817;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  opacity: 0.5;
}
#problem .problemBoxAll .problemBox:hover {
  color: #ccc;
  height: 380px;
  opacity: 1;
}
#problem .problemBoxAll .problemBox:hover ul {
  width: 100%;
  height: 300px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#problem .problemBoxAll .problemBox:hover ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: center;
}
#problem .problemBoxAll .problemBox:hover ul li img {
  width: 10px;
  height: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#problem .problemBoxAll .problemBox:hover .problemBigTextdesc {
  display: flex;
  align-items: end;
  justify-content: end;
}
#problem .problemBoxAll .problemBox:hover .problemBigTextdesc .sub {
  font-size: 0.8rem;
  padding: 10px;
  color: #ccc;
}
#problem .problemBoxAll .problemBox:hover .problemBigTextdesc .main {
  font-size: 4rem;
  font-weight: 600;
  color: #fafafa;
}
#problem .problemBoxAll .problemBox:hover .problemBigTextdesc .mainlast {
  font-size: 2rem;
  padding: 10px 0;
  font-weight: 600;
  color: #ccc;
}
#problem .problemBoxAll .problemBox ul {
  width: 100%;
  height: 300px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#problem .problemBoxAll .problemBox ul li {
  display: none;
  align-items: center;
  gap: 20px;
  align-items: center;
}
#problem .problemBoxAll .problemBox ul li img {
  width: 10px;
  height: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
#problem .problemBoxAll .problemBox .problemBigTextdesc {
  display: flex;
  align-items: end;
  justify-content: end;
  padding-bottom: 20px;
}
#problem .problemBoxAll .problemBox .problemBigTextdesc .sub {
  font-size: 0.8rem;
  padding: 10px;
  color: #303030;
}
#problem .problemBoxAll .problemBox .problemBigTextdesc .main {
  font-size: 2.6rem;
  font-weight: 600;
  color: #303030;
}
#problem .problemBoxAll .problemBox .problemBigTextdesc .mainlast {
  font-size: 1.6rem;
  padding: 10px 0;
  font-weight: 600;
  color: #303030;
}

#swot {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#swot .swotsubTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#swot .swotBoxAll {
  cursor: pointer;
  display: grid;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-top: 50px;
}
#swot .swotBoxAll .swotTable {
  height: 230px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  border-radius: 20px;
  gap: 12px;
  transition: all 0.5s;
  opacity: 0.5;
}
#swot .swotBoxAll .swotTable:hover {
  height: 600px;
  opacity: 1;
}
#swot .swotBoxAll .swotTable .tableBox {
  width: 320px;
  height: 180px;
  font-size: 1.2rem;
  font-weight: normal;
  background: #181817;
  color: #838383;
  padding: 14px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#swot .swotBoxAll .swotTable .tableBox .swotImg {
  width: auto;
  height: auto;
  flex-wrap: nowrap;
}
#swot .swotBoxAll .swotTable .tableBox .tableBoxTetWrapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 16px 0 0 0;
}
#swot .swotBoxAll .swotTable .tableBox .tableBoxTetWrapp .tableBoxTet {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
  color: #ccc;
}

#userinterview {
  width: 100%;
  padding-top: 60px;
}
#userinterview .interviewBoxWarrp {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#userinterview .interviewBoxWarrp .interviewBox {
  width: 100%;
  height: auto;
  background: #0f0f0f;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
#userinterview .interviewBoxWarrp .interviewBox .userinfoWrapp {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
#userinterview .interviewBoxWarrp .interviewBox .userinfoWrapp .userInfo {
  color: #838383;
}
#userinterview .interviewBoxWarrp .interviewBox .userinfoWrapp .userSubInfo {
  color: #b9b9b9;
  font-weight: normal;
}
#userinterview .userMainTxt {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  font-weight: bold;
  font-size: 2.4rem;
}
#userinterview .AllenswerBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#userinterview .AllenswerBox .TopenswerBoxWrapp {
  width: 100%;
  display: flex;
  gap: 10px;
  animation: scroll 15s linear infinite;
}
#userinterview .AllenswerBox .TopenswerBoxWrapp .enswerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 20px;
  background: #181817;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9rem;
}
#userinterview .AllenswerBox .TopenswerBoxWrapp .enswerBoxY {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 20px;
  background: #3f4136;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9rem;
}
#userinterview .AllenswerBox .BottomenswerBoxWrapp {
  width: 100%;
  display: flex;
  gap: 10px;
}
#userinterview .AllenswerBox .BottomenswerBoxWrapp .enswerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 20px;
  background: #181817;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9rem;
}
#userinterview .AllenswerBox .BottomenswerBoxWrapp .enswerBoxY {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 20px;
  background: #3f4136;
  border-radius: 20px;
  text-align: center;
  font-size: 0.9rem;
}

#tunmenail {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tunmenail .SubText {
  display: flex;
  width: 100%;
  color: #838383;
  text-align: center;
  padding: 0 80px;
  font-weight: 400;
}
#tunmenail .tunmenailImg {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
#tunmenail .tunmenailImg img {
  width: 100%;
}

#ia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
#ia .iaImg {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
#ia .iaImg img {
  width: 100%;
}

#style {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
#style .SymbolWrapp {
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
}
#style .SymbolWrapp .logoDesc {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
#style .SymbolWrapp .logoDesc .logoImg {
  width: 100%;
}
#style .SymbolWrapp .logoTxtDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#style .SymbolWrapp .logoTxtDesc .logoTxt {
  width: 100%;
  font-weight: 200;
  font-size: 0.8rem;
  color: #ccc;
}
#style .colorWrapp {
  padding: 60px 0;
  display: flex;
  justify-content: space-evenly;
}
#style .colorWrapp .colorY {
  cursor: pointer;
  width: 10%;
  height: 80px;
  padding: 20px;
  overflow: hidden;
  border-radius: 50px;
  background: #c9fc5a;
  color: #c9fc5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  transition: all 0.3s;
}
#style .colorWrapp .colorY:hover {
  width: 40%;
  color: #000;
}
#style .colorWrapp .colorN {
  cursor: pointer;
  width: 10%;
  background: #11122a;
  height: 80px;
  padding: 20px;
  overflow: hidden;
  border-radius: 50px;
  color: #11122a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  transition: all 0.3s;
}
#style .colorWrapp .colorN:hover {
  width: 40%;
  color: #fafafa;
}
#style .AllFontWrapp {
  padding: 0 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#style .AllFontWrapp .fontDesc {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  transition: all 0.5s;
}
#style .AllFontWrapp .fontDesc .smallFont {
  display: flex;
  font-size: 0.7rem;
  padding: 30px 0;
  color: #c9fc5a;
}
#style .AllFontWrapp .fontDesc .FontLight {
  display: flex;
  font-size: 2rem;
  font-weight: 100;
}
#style .AllFontWrapp .fontDesc .FontRegular {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
}
#style .AllFontWrapp .fontDesc .FontMedium {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
}
#style .AllFontWrapp .fontDesc .FontSemiBold {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}
#style .AllFontWrapp .fontDesc .FontBold {
  display: flex;
  font-size: 2rem;
  font-weight: 900;
}

#billboard {
  width: 100%;
  padding: 60px 0;
}
#billboard img {
  width: 100%;
}

#wf {
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
}
#wf .wfwrapp {
  position: relative;
}
#wf .wfwrapp .wfSlide {
  display: flex;
  gap: 20px;
  animation: wfSlide 26s linear infinite;
}
#wf .wfwrapp .wfSlide img {
  transition: all 0.5s;
}
#wf .wfwrapp .wfSlide img:hover {
  transform: translateY(-10px);
}

#mobile {
  width: 100%;
  padding: 60px 0;
}
#mobile .loginOnbording {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
#mobile .loginOnbording .imgWrapp {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mobile .mainPay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0;
}
#mobile .mainPay .mainImg {
  flex: 2;
  width: 340px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  scale: 1.5;
  z-index: 10;
}
#mobile .mainPay .mainImg img {
  width: 100%;
}
#mobile .mainPay .lefttImg {
  flex: 1;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile .mainPay .rightImg {
  flex: 1;
  transition: all 0.5s;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: center/cover;
}
#mobile .mainPay .rightImg img {
  width: auto;
  height: auto;
}
#mobile .pay {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
#mobile .pay .payImg {
  display: flex;
}
#mobile .pay .payImg .imgWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(60px);
}
#mobile .pay .payImg .imgWrapp .img {
  z-index: 2;
}
#mobile .pay .payImg .imgWrapp .info {
  transform: translateX(-50px);
}
#mobile .map {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
#mobile .map .mapImg {
  display: flex;
  width: 100%;
  height: auto;
}
#mobile .map .mapImg .imgWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(60px);
}
#mobile .map .mapImg .imgWrapp .img {
  z-index: 2;
}
#mobile .map .mapImg .imgWrapp .info {
  transform: translateX(-50px);
}
#mobile .charging {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#mobile .charging .chargingImg {
  display: flex;
  width: 100%;
  height: auto;
}
#mobile .charging .chargingImg .imgWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(60px);
}
#mobile .charging .chargingImg .imgWrapp .img {
  z-index: 2;
}
#mobile .charging .chargingImg .imgWrapp .info {
  transform: translateX(-50px);
}
#mobile .charging .chargflowWarpp {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
}
#mobile .charging .chargflowWarpp .flow {
  width: 517px;
  height: auto;
}
#mobile .charging .chargflowWarpp img {
  width: auto;
  height: auto;
  background: contain;
}
#mobile .charging .show {
  opacity: 1;
  transform: translateY(0);
}
#mobile .home {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  -o-object-fit: cover;
     object-fit: cover;
}
#mobile .home .imgWrapp {
  display: flex;
}
#mobile .home .imgWrapp .img {
  z-index: 2;
}
#mobile .home .imgWrapp .info {
  transform: translateX(-50px);
}
#mobile .home .homeImg {
  width: 100%;
  height: auto;
  transform: translateY(-140px);
}
#mobile .lefttImg,
#mobile .rightImg,
#mobile .info,
#mobile .flow,
#mobile .homeImg {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s;
}
#mobile .show {
  opacity: 1;
  transform: translateY(0);
}

#home {
  transform: translateY(-200px);
}
#home .homeImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes wfSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}